

<head>
    <meta charset="utf-8">
    <style>
        .button {
            background-color: #ff19ec;
            border: none;
            color: #e0ff19;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 230px;
            margin: 4px 2px;
            cursor: no-drop;
        }
        .button:hover{
            color: #e0ff19;
        }
        .button:visited{
            color: #e0ff19;
        }
    </style>



</head>

<body>
<button> <a class="button" target="_blank" href="https://www.youtube.com/watch?v=lZoxdPGu_4E&adsada=LoremipsumdolortametligulasedinterdumDonecelementumnislnontortorconsecteturapellentesquemagnacondimentumNullamlaoreetnislnonrhoncusportaInsuscipitsedmaurisutfaucibusMorbilaoreetlobortisrisusIntegerutmauriseuligulatempusmalesuadaLoremipsumdolorsitametconsecteturadipiscingelitNullanonduitinciduntauguedictumvenenatisPhasellusplaceratlacustincidunttristiqueconsequatipsumantepharetranisieusollicitudinenimmagnasitametmagnaMorbimattisetnequeegetegestasAnswer=urlmasta">Click Me !!</a></button>

</body>