<style>
    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>

<body bgcolor=#000000>
<img src="static/img/q6.jpg" alt="42" width="800" height="450" align="middle">
<p id="p1" class="unselectable"></p>


<script>
  var _0x4406 = ['Y2x2cw==', 'aW5uZXJIVE1M', 'Z2V0RWxlbWVudEJ5SWQ='];
  (function(_0x555d19, _0x44061d) {
    var _0x238157 = function(_0x341143) {
      while (--_0x341143) {
        _0x555d19['push'](_0x555d19['shift']());
      }
    };
    _0x238157(++_0x44061d);
  }(_0x4406, 0x1ca));
  var _0x2381 = function(_0x555d19, _0x44061d) {
    _0x555d19 = _0x555d19 - 0x0;
    var _0x238157 = _0x4406[_0x555d19];
    if (_0x2381['yFQact'] === undefined) {
      (function() {
        var _0x14d579 = function() {
          var _0x51f290;
          try {
            _0x51f290 = Function('return\x20(function()\x20' + '{}.constructor(\x22return\x20this\x22)(\x20)' + ');')();
          } catch (_0x1372cc) {
            _0x51f290 = window;
          }
          return _0x51f290;
        };
        var _0x3aea06 = _0x14d579();
        var _0x2f08c4 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';
        _0x3aea06['atob'] || (_0x3aea06['atob'] = function(_0x543ab5) {
          var _0x2d3996 = String(_0x543ab5)['replace'](/=+$/, '');
          var _0x395a9d = '';
          for (var _0x4d60fa = 0x0, _0x1af8be, _0x51fc4a, _0x23aabc = 0x0; _0x51fc4a = _0x2d3996['charAt'](_0x23aabc++); ~_0x51fc4a && (_0x1af8be = _0x4d60fa % 0x4 ? _0x1af8be * 0x40 + _0x51fc4a : _0x51fc4a, _0x4d60fa++ % 0x4) ?
            _0x395a9d += String['fromCharCode'](0xff & _0x1af8be >> (-0x2 * _0x4d60fa & 0x6)) : 0x0) {
            _0x51fc4a = _0x2f08c4['indexOf'](_0x51fc4a);
          }
          return _0x395a9d;
        });
      }());
      _0x2381['kJeXYF'] = function(_0x126aaf) {
        var _0x41349d = atob(_0x126aaf);
        var _0x8cce08 = [];
        for (var _0x5b6eae = 0x0, _0x5c33c5 = _0x41349d['length']; _0x5b6eae < _0x5c33c5; _0x5b6eae++) {
          _0x8cce08 += '%' + ('00' + _0x41349d['charCodeAt'](_0x5b6eae)['toString'](0x10))['slice'](-0x2);
        }
        return decodeURIComponent(_0x8cce08);
      };
      _0x2381['wnbapg'] = {};
      _0x2381['yFQact'] = !![];
    }
    var _0x341143 = _0x2381['wnbapg'][_0x555d19];
    if (_0x341143 === undefined) {
      _0x238157 = _0x2381['kJeXYF'](_0x238157);
      _0x2381['wnbapg'][_0x555d19] = _0x238157;
    } else {
      _0x238157 = _0x341143;
    }
    return _0x238157;
  };
  setTimeout(function() {
    document[_0x2381('0x0')]('p1')[_0x2381('0x2')] = _0x2381('0x1');
  }, 0x2bf20);
</script>
</body>